.root { 
	-fx-background-color: blue;
}
.label{
	-fx-background-color: white;
	-fx-background-radius: 4;
	-fx-font-size: 20px;
	-fx-padding: 4, 8, 4, 8; 
	-fx-border-color: black;
}
.button{
	-fx-font-size: 20px;
	-fx-background-radius: 4;
	-fx-font-weight: bold;
	-fx-padding: 4, 8, 4, 8; 
}
.button-purple{
	-fx-background-color: purple;
	-fx-text-fill: white;
}
.button-red{
	-fx-background-color: red;
	-fx-text-fill: white;
}
.button-yellow{
	-fx-background-color: yellow;
	-fx-text-fill: black;
}
.button-pink{
	-fx-background-color: pink;
	-fx-text-fill: black;
}
.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 4, 8, 4, 8; 
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
